

<div class="content">
	<section>
		<div class="register-wrapper">
		<div class="register-block">
		<h3 class="register-title">Registration</h3>
			<form  (ngSubmit)="onSubmit(registrationForm.value)" #registrationForm="ngForm">
			<input type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName" required/>
			<input type="text" name="lastName" placeholder="Last Name"  [(ngModel)]="user.lastName" required />
			<input type="date" name="DOB" placeholder="Date Of Birth"  [(ngModel)]="user.dob" required />
			<input type="email" name="email" placeholder="Enter your email" [(ngModel)]="user.email" required/>
			<input type="password" name="password" placeholder="Enter your password" [(ngModel)]="user.password" required />
			<input type="submit" value="Create my account" [disabled]="!registrationForm.valid"/>
			</form>
		</div>
		</div>
	</section>
</div>

